.education-container {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-width: auto;
  max-width: 2000px;
}

.education-title {
  font-size: 3.5rem;
  font-weight: bold;
  align-self: flex-start;
  margin-bottom: 30px;
  color: #ff6347;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.education-list {
  position: relative;
  width: 100%;
  height: 500px;
  perspective: 1000px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.education-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.6s ease, opacity 0.6s ease;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  max-width: 600px;
  height: auto;
  z-index: 1;
}

.education-item.active {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  pointer-events: auto;
  z-index: 3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.education-item.above {
  transform: translate(-50%, calc(-150% - 50px)) scale(0.9);
  opacity: 0.1;
  z-index: 2;
}

.education-item.below {
  transform: translate(-50%, calc(150% + 50px)) scale(0.9);
  opacity: 0.5;
  z-index: 1;
}

.education-card {
  background: #5f86b05f;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-title-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.education-logo {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.college-title {
  font-weight: bold;
  margin: 0;
  font-size: 1.5rem;
  color: white;
}

.degree-description {
  color: white;
}

.education-item p {
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
  align-items: center;
}

@media (max-width: 1000px) {
  .education-card {
    width: 90%;
    padding: 10px;
  }

  .logo-title-container {
    gap: 10px;
  }

  .education-logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }

  .college-title {
    font-size: 1rem;
  }

  .education-item p {
    font-size: 0.8rem;
  }

  .education-title {
    font-size: 2.5rem;
  }
}
