.about-container {
    /* background-image: url('../aboutMe.jpg'); */
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.about-title {
    font-size: 3.5rem;
    font-weight: bold;
    align-self: flex-start;
    margin-bottom: 30px;
    color: #ff6347;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.about-title-light{
    font-size: 3.5rem;
    font-weight: bold;
    align-self: flex-start;
    margin-bottom: 30px;
    color: #359f8d;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.about-content {
    display: flex;
    max-width: 800px;
    width: 100%;
    gap: 20px;
    padding: 20px;
    background-color:#5f86b05f;
    border-radius: 10px;
    
}

.about-content-light {
    display: flex;
    max-width: 800px;
    width: 100%;
    gap: 20px;
    padding: 20px;
    background-color:#71787e5f;
    border-radius: 10px;
    
}

.text-style {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans',
     Arial, sans-serif;
    color: rgb(238, 227, 227);
    font-size: 1.0rem;
    line-height: 1.6;
    text-align: left;
    font-weight: bold;
    
}

.text-style-light {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans',
     Arial, sans-serif;
    color: rgb(22, 22, 22);
    font-size: 1.0rem;
    line-height: 1.6;
    text-align: left;
    font-weight: bold;
    
}

.text-style p {
    margin-bottom: 15px;
}

.text-style-light p {
    margin-bottom: 15px;
}


@media (max-width: 1000px) {

    .about-title {
        font-size: 2.5rem;
    }

    .about-title-light {
        font-size: 2.5rem;
    }

    .text-style {
        font-size: 0.7rem;
        line-height: 1.0;
    }

    .text-style-light {
        font-size: 0.7rem;
        line-height: 1.0;
    }
}