.sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 150px;
    height: 100%;
    background-color: rgba(25, 25, 27, 0.913);
    transition: right 0.7s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.sidebar-light {
    position: fixed;
    top: 13.5%;
    right: -100%;
    width: 150px;
    height: 100%;
    background-color: rgba(197, 197, 207, 0.913);
    transition: right 0.7s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.sidebar.open {
    right: 0;
}

.sidebar-light.open {
    right: 0;
}

.sidebar-button{
    font-size:0.7rem;
    color: whitesmoke;
    background: none;
    border: none;
    margin: 15px;
    cursor: pointer;
    font-weight:normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sidebar-button-light {
    font-size:0.7rem;
    color: black;
    background: none;
    border: none;
    margin: 15px;
    cursor: pointer;
    font-weight:normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sidebar-button:hover {
    color: #ff6347;
}

.sidebar-button-light:hover {
    color: #359f8d;
}



