.experience-card {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  color: white;
  max-width: 700px;
  min-width: auto;
  min-height: 150px;
  background-color: #5f86b05f;  
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-size:large;
}


.experience-card-light {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  color: white;
  max-width: 700px;
  min-width: auto;
  min-height: 150px;
  background-color: #71787e5f;  
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-size:large;
}

.experience-card .tech-stack,
.experience-card .description {
  margin-bottom: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.experience-details {
  white-space: pre-wrap;
}

.const-color {
  color: rgb(237, 91, 115);
}

.const-color-light {
  color: rgb(191, 68, 11);
}

.equal-color {
  color: rgb(237, 91, 115);
}

.equal-color-light {
  color: rgb(191, 68, 11);
}

.braces-color {
  color: yellow;
 
}

.curlly-braces{
  color: rgb(234, 11, 204);
}

.braces-color-light {
  color: rgb(2, 143, 35);
  font-weight: bolder;
}

.value-color {
  color: orange;
}

.work-light{
  color: black;
}

.work-Dark{
  color: white;
}

.value-color-light {
  color: rgb(14, 11, 183);
}


@media (max-width: 1000px) {
  .experience-card {
    font-size:small;
    padding: 15px;
  }

  .experience-card-light {
    border-radius: 8px;
    font-size:small;
    padding: 15px;
  }
}

@media (max-width: 600px) {
  .experience-card {
    font-size:smaller;
    padding: 10px;
  }

  .experience-card-light {
    font-size:smaller;
    padding: 10px;
  }
}
